*{
  margin: 0px;
}
body{
    background-color: rgb(229, 229, 229);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1{
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    text-align: center;
    background-color: rgb(20, 33, 61);
    margin:  0px  ;
    padding-bottom: 20px;
    border-radius:50px 50px 0px 0px  ;
    color: #fff ;
  }
  #header img{
    
    margin-left: 10%;
    border-radius: 100%;
    width: 300px;

   
  }
  #trybe{
  color: seagreen;
  font-weight: 900;
  }
  #header{
   /*border: solid red;*/
   background-color: rgb(252, 163, 17);
   display: inline-block;
   width: 100% ;  
   height: 400px;
   padding-top: 100px;
  }
  #descriçao{
    /*border: solid yellow 4px;*/
    position: absolute;
    float: right;
    width: 557px;
    left: 40%;  
    top: 200px;
    font-size: 1.5em;
    text-align: center;
  }
  
  }